*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background-color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
}
body{
    background-color: rgb(19, 19, 124);
    color: white;
}

.create{
   margin-bottom: 30px;
  text-align: center;
}
.login{
    color: black;
    padding-bottom: 50px;
    font-size: 18px;
  
   text-align: center;
 }
 a{
    text-decoration: none;
    font-size: 24px;
   
    color:rgb(19, 19, 124) ;
 }
 .terms{
    font-size: 18px;
 }
.centre-body{
    margin-top: 50px;
}
.card{
    padding-top: 50px;
    border-radius: 20px;
   width:35%;
   height: 100%;
   /* padding: 25px; */
   margin: auto;
    background-color: white;
}
.inpu{
   margin-bottom: 30px;
   padding: 15px;
   border-top: none;
   border-left: none;
   border-right: none;
   background-color: whitesmoke;
   border-color:  1px solid rgb(230, 225, 225);
}
.check{
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
}
.check-box{
   width:15%;
   margin-right: 5px;
}
form{
   color: grey;
    background-color:whitesmoke;
   margin: 30px;
 
   padding: 20px;
    display: grid;
    justify-content: center;
}
.btn{
    padding: 20px;
    background-color: orange;
    color: white;
    font-size: 24px;
   
    border: none;
    border-radius: 8px;
}

@media screen and (max-width:480px){
    .header{
       box-shadow: 5px 5px 5px 0 rgb(218, 216, 216);
    }
    .travel-beta{
        width:40%;
    }
    .create{
       color: black;
     }
     .inpu{
        background-color: white;
       
     }
     form{
        background-color:white;
     }
    body{
        background-color: white;
    }
   .card{
    width:90%;
   }
}