*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background-color: white;
    padding: 20px;
    display: flex;
    height: 12vh;
    justify-content: center;
}
body{
    background-color: rgb(19, 19, 124);
    color: white;
}

.create{
   margin-bottom: 30px;
  text-align: center;
}
.login{
    color: black;
    padding-bottom: 50px;
    font-size: 18px;
  
   text-align: center;
 }
 a{
    text-decoration: none;
    font-size: 24px;
   
    color:black ;
 }
 .terms{
    font-size: 18px;
 }
.centre-body{
    margin-top: 50px;
}
.card{
    padding-top: 50px;
    border-radius: 20px;
   width:35%;
   height: 100%;
   /* padding: 25px; */
   margin: auto;
    background-color: white;
}
.inpu{
   margin-bottom: 30px;
   padding: 15px;
   border-top: none;
   border-left: none;
   outline: none;
   font-size: 18px;
   border-right: none;
   background-color: whitesmoke;
   border-color:  1px solid rgb(230, 225, 225);
}
.check{
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
}
.check-box{
   width:15%;
   margin-right: 5px;
}
form{
   color: grey;
    background-color:whitesmoke;
   margin: 30px;
 
   padding: 20px;
    display: grid;
    justify-content: center;
}
.btn{
    padding: 20px;
    background-color: orange;
    color: white;
    font-size: 24px;
   cursor: pointer;
    border: none;
    border-radius: 8px;
}

#menu-bar{
    font-size: 28px;
    cursor: pointer;
    color: black;
    display: none;
}
.barr{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  justify-content:space-between;

}
li{
    list-style: none;
    padding-left: 30px;
}
#close-bar{
    display: none;
    font-size: 30px;
    cursor: pointer;
}
.barz{
   
   /* left: 0; */
   height: 100%;
   right: 0;
   z-index:12;
  position: absolute;
    border: none;
    width:100%;
   display: none;
}
#arrow-1{
    
 color: black;
  
}

@media screen and (max-width:480px){
    .header{
       box-shadow: 5px 5px 5px 0 rgb(218, 216, 216);
       justify-content: space-between;
    }
    .travel-beta{
        width:50%;
        
    }
    /* .trav-1{
        width:10%;
    } */
    .create{
       color: black;
     }
     .inpu{
        background-color: white;
       
     }
     form{
        background-color:white;
     }
    body{
        background-color: white;
    }
   .card{
    width:90%;
   }



   .barz{
    background-color: white;
display: none;
border: none;
padding: 20px;
 }
 .barz.active{
    display: block;

    
 }
   #menu-bar{
    display: block;
}
#menu-bar.active{
    display: none;
}
/* #close-bar.active{
    display: block;
} */
.travelbeta{
    width:40%;
}
}